In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
df=pd.read_excel("Data Omega- Data Challenge March 2022-Chess Game History - Dataset (1).xlsx")

In [10]:
df

                      ranking_date- date of ranking;
0                              rank- rank of player;
1                             name - name of player;
2  title- title of a player (g - Grand Master, wg...
3  Master, m - Intentional Master, wm - Woman Int...
4                         country- country of birth;
5                          rating - standard rating;
6                               games -games played;
7               birth_year - year of birth of player